body{
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    
}
.banner{
    background-color: #2D25A0;
    width: 1440px;
    height: 677px;
}
h1{
    position: absolute;
    width: 485px;
    height: 230px;
    color: #FFFFFF;
    left: 156px;
    top: 207px;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
}
.link-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 10px;
    position: absolute;
    width: 105px;
    height: 20px;
    left: 120px;
    top: 464px;
    color: white;
    font-size: 13px;
    text-decoration: none;
    
    margin:37px;
    
    background: #E02C6D;
}

.fa-arrow-right{
    top: 10px;
    left: 150px;    
    margin: 0 10px ;
}

.banner img{
    width: 556.01px;
    height: 438px;
    left: 1299.01px;
    top: 153px;
    margin-top: 153px;
    padding-right: 150px;
    transition: transform 1s ease-out 0.2s;
    
}
.banner:hover img{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}